@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


* {
    font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}

h9 {
    font-size: 14px;
    font-weight: 300;
    color: #666666;
}
h10 {
    font-size: 13px;
    font-weight: 300;
    color: #666666;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: #666666;
}

.content-table thead tr {
  background-color: #b3b3ff;
  color: #666666;
  text-align: left;
  font-weight: 100;
  font-size : 13px;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: 100;
  color: #009879;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*form {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1/2;
}*/

.input-field {
  max-width: 380px;
  width: 150%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: .3rem;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 300;
  font-size: 1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 300;
}

.btn {
  width: 180px;
  background-color: #666666;
  border: none;
  outline: none;
  height: 49px;
  border-radius: .3rem;
  /* display: block; */
  color: #fff;
  /*text-transform: uppercase;*/
  font-size : 12px;
  font-weight: 300;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn.transparent:hover {
  background-color: white;
  color: #4d84e2;
}

.btn:hover {
  background-color: #4d84e2;
}

.form-head {
            display: flex;
            justify-content: space-between;
            align-items: left;
            padding-bottom: 8px;
            border-bottom: 1px solid #ced4da;
        }

.form-inputs {
    padding-top: 12px;
    color: #666666;
}
                
        .form-input-actions {
            margin-top: 12px;
            display: flex;
            justify-content: left;
        }


